<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- CIT Tests Required Permissions -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <uses-feature android:name="android.hardware.usb.host" android:required="false" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.nfc" android:required="false" />
    <uses-feature android:name="android.hardware.sensor.proximity" android:required="false" />
    <uses-feature android:name="android.hardware.sensor.light" android:required="false" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="false" />
    <uses-feature android:name="android.hardware.sensor.gyroscope" android:required="false" />
    <uses-feature android:name="android.hardware.sensor.compass" android:required="false" />
    <uses-feature android:name="android.hardware.sensor.barometer" android:required="false" />

    <queries>
        <package android:name="com.primatelabs.geekbench6" />
        <package android:name="com.antutu.ABenchMark" />
        <package android:name="com.antutu.benchmark.full" />
        <package android:name="com.futuremark.dmandroid.application" />
        <package android:name="com.miHoYo.GenshinImpact.vn" />
        <package android:name="com.gaijinent.warthunder" />
        <package android:name="com.epicgames.fortnite" />
        <package android:name="com.garena.game.df" />
        <package android:name="com.tencent.tmgp.dfm" />
        <package android:name="com.tencent.tmgp.codev" />
        <package android:name="com.kurogame.wutheringwaves.global" />
        <package android:name="com.vng.pubgmobile" />
        <package android:name="com.riotgames.league.wildriftvn" />
        <package android:name="com.garena.game.kgvn" />
        <package android:name="com.vng.codmvn" />
        <package android:name="com.gryphline.endfield.gp.vn" />
        <package android:name="com.stremio.one" />
        <package android:name="com.aurora.store" />
        <package android:name="com.apkpure.aegon" />
        <package android:name="com.taptap.global" />
        <package android:name="com.epicgames.portal" />
        <package android:name="com.microsoft.xboxone.smartglass" />
        <package android:name="com.huawei.maps.app" />
        <package android:name="com.xiaoji.egggame" />
        <package android:name="com.pujie.scene" />
        <package android:name="eu.tsoml.graphicssettings" />
        <package android:name="com.aefyr.sai" />
        <package android:name="org.localsend.localsend_app" />
        <package android:name="com.huawei.hwid" />
        <package android:name="com.huawei.appmarket" />
        <package android:name="com.google.android.gms" />
        <package android:name="com.android.vending" />
        <package android:name="com.tencent.mm" />
        <package android:name="com.tencent.mobileqq" />
        <package android:name="com.omarea.vtools" />
        <package android:name="ru.andr7e.wifimonitor" />
        <package android:name="ru.andr7e.devinfooverlay" />
        <package android:name="ru.andr7e.sensortest" />
        <package android:name="ru.andr7e.simcellinfo" />
    </queries>

    <application
        android:name=".RelabApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:extractNativeLibs="false"
        android:theme="@style/Theme.Relab_tool">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Relab_tool">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.relab.controlcenter.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="androidx.appcompat.app.AppLocalesMetadataHolderService" />
            </intent-filter>
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>

        <service
            android:name=".worker.PerformanceOverlayService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Gaming Performance Overlay" />
        </service>

        <service
            android:name=".worker.StatusNotificationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Device Hardware Monitoring" />
        </service>
        
        <receiver
            android:name=".worker.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>